<script type="text/javascript" src="/node_modules/socket.io-client/socket.io.js"></script>
<script type="text/javascript" src="/node_modules/swig/dist/swig.min.js"></script>
<script type="text/javascript" src="/javascripts/chat/default_index_tpl.js"></script>
<script type="text/javascript" src="/javascripts/chat/default_message_tpl.js"></script>
<script type="text/javascript" src="/javascripts/chat/green_index_tpl.js"></script>
<script type="text/javascript" src="/javascripts/chat/green_message_tpl.js"></script>
<script type="text/javascript" src="/javascripts/chat/client.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>