.chat-container{
    padding: 10px;

    textarea{
        width: 100%;
    }
}

.panel{
    width: 100%;
    margin: 0 0 10px;

    button, select{
        margin: 0 10px 0 0;
    }
}

.room-exit, .switch-theme{
    display: inline-block;

    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #1181ff;
    }
}

.layout{
    margin: 15px 0;
    overflow: hidden;
}

.users-container{
    width: 20%;
    box-sizing: border-box;
    float: left;
    border: 1px solid #7d7d7d;
    padding: 5px;

    ul{
        padding: 0;
        margin: 0;

        li{
            list-style-type: none;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
                color: #1181ff;
            }
        }
    }
}

.messages-container{
    margin: 0 0 10px 1%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #7d7d7d;
    width: 79%;
    float: right;

    ul{
        padding: 0;
        margin: 0;
    }

    li{
         list-style-type: none;

        span{
            display: inline-block;
            margin: 0 5px 0 0;

            &.time{
                color: #1393FF;
            }

            &.username{
                font-weight: bold;
            }
        }

        .grabbed-preview{
            margin: 5px;
            padding: 5px;
            background-color: #8fcbff;
            border: 1px solid #7d7d7d;

            p, h4{
                margin: 0;
            }
        }
    }
}

.actions{

    button{
        margin-top: 5px;
    }
}