<div class="panel">
    <button type="button" class="create-btn">create room</button>
    <select class="created-rooms">
        {% if rooms !== 'default' %}
            {% for room in rooms %}
                <option class="msg" value="{{ room }}">{{ room }}</option>
            {% endfor %}
        {% else %}
            <option value="" disabled selected>no rooms available</option>
        {% endif %}
    </select>
    <button type="button" class="enter-btn">enter room</button>
    <button type="button" class="leave-btn">leave room</button>
</div>